PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Smx@kfm!666333
DB_NAME=mylan_lis

JWT_SECRET=a-new-very-strong-and-long-jwt-secret-key-for-production-12345!@#$
SOCKET_CORS_ORIGIN=*

NODE_ENV=production
